/* 
Add picture of Odin cooking to home page. 
Fix pictures to look better on each recipe page.
Center text and images on pages.
*/

body {
    background-color: rgb(54, 54, 54);
    color: white;
    text-align: center;
    font-family: 'Times New Roman', sans-serif;
    font-size: 20px;
    padding: 10 10 10 10;
}

a {
  color: white;  
  text-decoration: none;
}

a:hover,
a:focus {
    color: limegreen;
    
}
ul li {
    list-style-type: none;
}

.recipe-list li{
    display: inline;
    padding: 10px;
    margin: 5px;
    background-color: rgb(6, 117, 161);
}
li{
    padding-top: 5px;
    /* list-style-type: none; */
}
h1 {
    font-size: 40px;
}

.align-left {
    text-align: left;
    float: left;
    padding-right: 50px;
}

.align-right {
    text-align: left;
}

img {
    height: auto;
    width: 500px;
    padding-bottom: 1000px;
    padding-left: 10px;
}

#panda {
    padding-bottom: 0px;
}