/* 
Add picture of Odin cooking to home page. 
Fix pictures to look better on each recipe page.
Center text and images on pages.
*/

body {
    background-color: rgb(54, 54, 54);
    color: white;
    font-family: 'Times New Roman', sans-serif;
    font-size: 20px;
}

h1,
h2,
p{
    text-align: center;
}

a {
  color: white;  
  text-decoration: none;
}

a:hover,
a:focus {
    color: limegreen;
    
}

ul li {
    list-style-type: none;
}

.panda {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.recipe-list {
    display: flex;
    gap: 8px;
    justify-content: center;
}
.recipe-list li{
    background-color: rgb(6, 117, 161);
    padding: 10px;
}

h1 {
    font-size: 40px;
}

.flex-container {
    display: flex;
    gap: 10px;
    /* flex-wrap: wrap; */
}

.align-right {
    text-align: left;
    flex-grow: 2;
}

.align-left {
    min-width: 0;
    width: 100%;
    height: 100%;
    flex-grow: 1;  
}

#panda {
    padding-bottom: 0px;
}